extends users/layout.pug

block title
  | ユーザ一覧 - ペタペタシステム
block content
    table.table.table-hover
        thead
            tr
                th ユーザID
                th 作成日
                th 更新日
                th
        tbody
            for item in items
                tr
                    td= item.userid
                    td= item.create_at | strftime('%Y/%m/%d %H:%M')
                    td= item.update_at | strftime('%Y/%m/%d %H:%M')
                    td: .text-right: .btn-group
                        if item.userid != 'admin'
                            a.btn-sm.btn-default.confirm(href="{{ url_for('users.destroy', id=item.id) }}") 削除
    script.
        $(function(){
            $(".confirm").on('click',function(){
                if(window.confirm("データを削除してもよろしいですか？")){
                    location.href = $(this).attr('href');
                } else {
                    return false;
                }
            });
        });
