extends layout_printer.pug
block title
    | 月次集計表
block content
    h1 月次集計表
    table
        tr
            th 氏名
            th 利用日数
            th 勤務日数
            th 勤務時間
            th 欠勤日数
            th 遅刻日数
            th 早退日数
        tr
            td テスト太郎
            td 22
            td 30
            td 120.0
            td 0
            td 0
            td 0
