@page {
    size: A4;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    color: #000000;
    /*font-family: "",""; */
    font-size: 11pt;
    font-weight: normal;
    -webkit-print-color-adjust: extract;
}

ul {
    list-style: none;
    padding-left: 0;
}

.page {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    height: 295mm;
    width: 205mm;
    padding-top: 17mm;
    padding-left: 17mm;
    padding-right: 17mm;
}

@media screen {
    body {
        background: #e0e0e0;
    }
    .page {
        background: white;
        box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0,3);
        margin: 5mm auto;
    }
}

@media print {
    .page {
        page-break-after: always;
    }
    .page:last-child {
        page-break-after: auto;
    }
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.clear-element {
    clear: both;
}

h1 {
    font-size: 14px;
    font-weight: bold;
}

table,
th,
td {
    border: 1px #000000 solid;
    border-collapse: collapse;
    padding: 1px 5px;
}

table {
    width: 100%
}

table thead th {
    font-weight: bold;
    border-bottom: 1px #000000 
}
table tbody td {
    text-align: right
}

table tfoot td {
    font-weight: bold;
}

